<!DOCTYPE html>
<html>
<head>
<title>Привет, студент!</title>
<link rel="stylesheet" href="{{ STATIC_URL }}static/css/index.css">
</head>
<body>
<h1>Привет, студент!</h1>
<h2>Это учебный сайт, с помощью которого, вы сможете изучить расписание</h2>
<img src="{{ STATIC_URL }}static/css/MTUCI.png" height="130"/>
<p>Расписание группы БСТ1801:</p>
<table border="1">
<thead>
<tr>
<th>Понедельник</th>
<th>Вторник</th>
<th>Среда</th>
<th>Четверг</th>
<th>Пятница</th>
</tr>
</thead>
<tr>
<td></td>
<td>9:30 - Высшая математика(лекция)</td>
<td></td>
<td></td>
<td></th>
</tr>
<tr>
<td>11:15 - Физическая культура</td>
<td>11:15 - Высшая математика(практика)</td>
<td>11:15 - Английский язык</td>
<td>11:15 - Философия(лекция)</td>
<td>11:15 - Физика(практика)</th>
<td></th>
</tr>
<tr>
<td>13:00 - ТЯП(лекция)</td>
<td>13:00 - Информатика(практика)</td>
<td>13:00 - ТЯП(практика)</td>
<td></td>
<td>13:00 - ТФКП(практика)</td>
<td></td>
</tr>
<tr>
<td>15:15 - ТФКП(лекция)</td>
<td></td>
<td>15:15 - Физическая культура</td>
<td>15:15 - Английский язык</td>
<td></td>
<td></td>
</tr>
<tr>
<td>16:55 - ТЯП(лабораторная работа)</td>
<td></td>
<td>16:55 - Философия(практика)</td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</body>
</html>